* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
  background: linear-gradient(
    90deg,
    #ff9933 0%,
    #ffe5cc 30%,
    #ffffff 50%,
    #d9f2d9 70%,
    #138808 100%
  );
  
}
html,body{
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    padding: 15px 40px;
    background-color: #2874f0;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}



/* #products {
    background-color: #80c1e2;
}

#offers {
    background-color: #80c1e2;
}

#contact {
    background-color: #80c1e2;
} */


.hero {
  display: flex;                 /* side by side */
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  padding: 80px 10%;
  position: relative;
}
.hero-text {
  max-width: 50%;
  position: relative;
  z-index: 1;

}
.hero-text h1 {
    font-size: 3rem;
    color: #138808;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color:crimson;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 12px 20px;
    background: linear-gradient(
    135deg,
    #ff9933,
    #ffffff,
    #138808
  );
  color: black;
    
    border: none;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and ( orientation: portrait) {
  .hero {
    display:flex;
    text-align: center;
  }

  .hero-text {
    width: 100%;
  }

  .hero-image img {
    width: 120%;
    height:300px;
    margin-top: 20px;
    opacity: 60px;
    animation: float 3s ease-in-out infinite;


  }

  .hero button {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #172337;
    color: white;
}
.products {
    padding: 20px;
  padding: 20px 10%;
  position: relative;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product-card {
    border: 5px solid rgb(17, 195, 192);
    padding: 15px;
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 100%;
}

.product-card button {
    margin-top: 10px;
    padding: 8px;
    background-color: #2874f0;
    color: white;
    border: none;
}

@media only screen and (max-width: 768px) {
    .product-grid {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .navbar {
        flex-direction: column;
    }
}
